html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.footer {
    display: flex;
    transition: all 0.5s;
    user-select: none;
    background: linear-gradient(to bottom, white, rgb(206, 165, 165));
	padding: 60px 0;
	background-color: #e3e3e3;
}